#header
{
	background: red;
	height: 4rem;
}

.hobby
{
	font-family: Comic Sans MS;
	font-size: 24;
	
	border-color: rgb(230, 230, 255);
	border-width: 2px;
	border-style: solid;
	
	padding: 5px;
	background: rgb(230, 230, 255);
}

.allMenus
{
		display: none;
		border-bottom: 1px solid black;
		
		position: absolute;
		right: 8px;
		top: 60px;
		padding: 5px;
}

#projects
{
	background: orange;
}